.App {
  text-align: center;
}
.App-body{
  display: grid;
  grid-template: 50px 1fr/ 50px 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1/span 6;
  border: 2px;
}

.App-logo {
  height: 80px;
}


.App-header {
  background-color: cornflowerblue;
  height: 120px;
  padding: 20px;
  color: white;
}
#categories{
  grid-column: 1/span 6;
  border: 2px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
aside{
  background-color: teal;
  border:solid 1px;
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.categories{
  border:solid 1px;
  min-height: 100vh;  
  background-color: blue;
}